*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: white;
    overflow-y: scroll;

}
h1{
    font-size: 25px;
    padding: 15px;
}
nav{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: #ad0000;

     
}
.logo{
    padding-top: 3px;
    max-height: 100px;
    margin-bottom: 1px;
}
.container{ 
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}
.section-1{ /* Title Card Page */
    flex: .5;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.section-1 a{ 
    color: white;
    padding: 100%;
    padding-top: 100%;   
}
.cbutton{ /* Contact Button */
    font-size: 20px;
    border: 0.5px solid #ad0000;
    color: #ad0000;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 550;
    background-color: white;

}
.cbutton:hover{
    background-color: #ad0000;
    color: white;
    cursor: pointer;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.4 );

}

.section-2{
    flex: 2;
    background-image: url(imgs/Compass\ White\ RGB.png);
    background-color: black;
    padding-top: 5%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6 );
    display: flex;
    flex-direction: column;
}
.content-1{
    background-color: white;
    flex: .5;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 30px;
    margin-top: 15px;

}
.content-2{
    background-color: white;
    flex: 2;
    margin-left: 40px;
    margin-right: 40px;

}
@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
}
@media(max-width: 400px;){

}
.footer{

}
.contactbox{
background-color: #ad0000;
margin-bottom: 5PX;
border-radius: 10px;

}
.welcome{
    position: absolute;
    background-color: bisque;
    padding: 15px;
    margin-left: 50%;
    margin-right: auto;
}