@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: ;
}

li, a, button{
    font-family: "Roboto-Condensed", 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
.cardinalred {
    /* Not including rgba since our Cardinal Red may not be tinted */
    background-color: #AD0000;
}
.black {
    background-color: rgba(0,0,0,1);
    background-color: #000;
}
.white {
        background-color: rgba(255,255,255,1);
        background-color: #FFF;
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    background-color: #AD0000;
}
h1{
text-align: center;
padding: 15px;
font-family: "gotham", sans-serif;
font-weight: 400;
font-style: bold;
}
h2{
    color: #000;
    font-family: "gotham", sans-serif;
    font-weight: 200;
    font-style: normal;
}
p{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
}


.navlinks li{
    display: inline-block;
    padding: 0px 20px;
    background-color: #ad0000;
}
.navlinks li a{
    transition: all 0.3s ease 0s;
    font-size: 35px;
    padding: 40%;
    
}
.navlinks li a:hover{
    background-color: #ffffff;
    color: #AD0000;
}

@media (max-width: 1440px){
/* Desktop */

}
@media (max-width: 1024px){
/* Tablets */

}
@media (max-width: 600px){
/* Phones */
    
}
.navbutton{
    background-color: #ad0000;
    border-radius: 0px;
    text-decoration: none;
    margin: 5px;
    padding: 15px;
    
}
.navbutton a:hover{
    background-color: white;
    

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-body{
    background-color: #ffffff;
}
.content-container{

}
li{
    color: #ffffff;
    font-family: ;
}
.container-ebanner{

}