*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: white;
    overflow-y: scroll;

}

h1{
    font-size: 25px;
    padding: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #ad0000;
     
}
nav a{
    background-color: aqua;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 99;
    backdrop-filter: blur(10px);
    background-color: #ad00006b;
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.15);
    padding: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.sidebar ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar li{
    height: 50px;
    width: 100%;
    align-items: center;
}
.sidebar a{
    height: 100%;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    font-size: 40px;
}
.sidebar a:hover{
    background-color: white;

}
.menubttn{
    align-self: center;
    width: 100%;
}
.menubttn a{
    height: 40px;
    align-items: flex-end;
}

.logo{
    padding-top: 3px;
    max-height: 100px;
    padding-bottom: none;
}
.container{ 
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}
.section-1{ /* Title Card Page */
    flex: .5;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ad0000;
}
.section-1 a{ 
    color: white;
}
.cbutton{ /* Contact Button */
    font-size: 20px;
    border: 0.5px solid #ad0000;
    color: #ad0000;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 18px;
    font-weight: 550;
    background-color: white;

}
.cbutton:hover{
    background-color: #ad0000;
    color: white;
    cursor: pointer;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.4 );

}

.section-2{
    flex: 2;
    background-image: url(imgs/Compass\ White\ RGB.png);
    background-color: black;
    padding-top: 5%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6 );
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.content-1{
    background-color: white;
    flex: .5;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 30px;
    margin-top: 15px;

}
.content-2{
    background-color: white;
    flex: 2;
    margin-left: 40px;
    margin-right: 40px;

}
@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
}
@media(max-width: 400px;){

}
.footer{

}
.contactbox{
background-color: #ad0000;
border-radius: 10px;

}
.welcome{
    background-image: url(imgs/COB-Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 1920px;
    height: 250px;
    background-position: center;
    background-position-x: center;
    background-color: white;
    padding-left: none;
}
footer{
    background-color: #ad0000;
    padding: 3px;
    position: fixed;
    width: 100%;
}
