*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: white;
    overflow-y: scroll;

}
@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }

}
@media (max-width: 400px){
    .sidebar{
        width: 100vw;
    }

}

nav{
    background-color: #ad0000;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 99;
    backdrop-filter: blur(10px);
    background-color: #ad00006b;
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.15);
    padding: none; 
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.logo:hover{
    cursor: pointer;
}
.sidebar ul{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.sidebar li{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    
}
.sidebar li:hover{
background-color: rgba(255, 255, 255, 0.938);

}
.sidebar a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.sidebar a:hover{
    color: #ad0000;
    font-weight: 700;
}
.menu-bttn:hover{
    cursor: pointer;

}
.close-bttn{
margin-top: 35PX;
margin-bottom: 20px;
}
.close-bttn:hover{
    cursor: pointer;
}
.container{ 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ad0000;
}
.section-1{ /* Title Card Page */
    flex: .5;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ad0000;
}
.section-1 a{ 
    text-decoration: none;
}

.cbutton{ /* Contact Button */
    font-size: 20px;
    border: 0.5px solid #ad0000;
    color: #ad0000;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 18px;
    font-weight: 550;
    background-color: white;
    margin-top: 20px;

}
.cbutton:hover{
    background-color: #ad0000;
    color: white;
    cursor: pointer;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.4 );

}
.section-2{
    flex: 2;
    background-image: url(imgs/Compass\ White\ RGB.png);
    background-color: black;
    padding-top: 5%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6 );
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content-1{
    background-color: white;
    flex: 1;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding: none;
    width: 100%;
}
.content-2{
    background-color: white;
    flex: 2;
    margin-left: 40px;
    margin-right: 40px;

}

.welcome{
    background-image: url(imgs/Campus.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    

}
.about-graphic{
    justify-content: center;
    padding-left: 30px;

}

footer{
    background-color: #ad0000;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    padding-top: 10px;
    margin-top: 20px;
    box-shadow: 0px -10px 10px 2px rgba(0, 0, 0, 0.3);
}
h1{
    font-size: 75px;
   font-family: "Oswald";
    font-optical-sizing: auto;
    font-weight: 100%;
    font-style: normal;
}
h2{
    font-size: 50px;
   font-family: "Oswald";
}
p{
    font-size: 2.5vh;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr.solid {
  border-top: 3px solid #ad0000;
  border-radius: 30px;
width: 100%;
}